[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
cookiecutter = "*"
azure-cli = "2.31.0"
checkov = "==2.0.721"

# Pinning because of some kid of dependency conflict in 2.6.x (7/9/21)
# networkx = "==2.5.1"

[dev-packages]
pipenv-to-requirements = "*"

[scripts]
pin = 'pipenv_to_requirements -o requirements.txt -f'

[pipenv]
allow_prereleases = true
